.wpslacksync_menu .fa.fa-info-circle {font-size: 20px;margin-left: 5px;vertical-align: middle;cursor: pointer;color: gray;}
#contenttab2 .fa.fa-info-circle {margin-top: 5px;}
@media (max-width: 780px) {.enable_upload_profile_photo_row{display: none;}}